name: CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [18, 20, 22]
        os: [ubuntu-latest]
        zod: ["3", "4"]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          cache: "npm"
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm run lint
      - name: Typecheck (Zod ${{ matrix.zod }})
        run: npm run typecheck:zod${{ matrix.zod }}
      - name: Test with coverage (Zod ${{ matrix.zod }})
        run: npm run test_cov:zod${{ matrix.zod }} # ts-jest doesn't need build js files
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
